<footer>
    <p>&copy; If it looks like a duck and quacks like a duck it' a Russian cuck. All rights reserved.</p>
    <p class="pb-4 text-xs">
       Built with <a href="https://www.11ty.dev/">Eleventy</a>.
    </p>
</footer>