<footer>
    <p>&copy; 
        Donald Trump is a Russian cuck. All rights reserved. Built with <a href="11ty.dev" target="_blank">11ty {{ eleventy.version }}</a>.
    </p>
<iframe width="560" height="315" src="https://www.youtube.com/watch?v=MiPjmNcyCJ8&list=PL7rYtDAWqZkQbqeWilSVDy1-1VnTYADp2" title="Music" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</footer> 