/* Fonts definitions */
@font-face {
    font-family: 'dot_digital-7regular';
    src: url('/fonts/dot_digital-7-webfont.woff2') format('woff2'),
         url('/fonts/dot_digital-7-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'high_speedregular';
    src: url('/fonts/highspeed-webfont.woff2') format('woff2'),
         url('/fonts/highspeed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #c1c1c1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #000;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

header p {
    font-size: 1.5em;
    font-weight: bold;
    align-items: center;
    margin: 12px;
}

header p > a > img {
    height: 120px;
    /*transform: rotate(180deg);
    opacity: 0.65;
     filter: grayscale(90%); */
     /* filter: brightness(0.55) grayscale(0.85); */
     transition: all 0.5s ease-out allow-discrete;
}

header p > a > img:hover {
     filter: brightness(1.0);
     rotate: -1deg;
     transition: all 0.5s ease-out allow-discrete;

}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-size: 1.1em;
}

nav a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    padding: 20px;
    /* border-radius: 12px; */
    background: #222;
    /* margin: 20px 75px 20px 75px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    width: auto;
}

footer {
    font-size: 1.0em;
    background: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: auto;
}

.divlink {
    text-decoration: none;
    color: inherit;
}

.printer-paper {
    position: relative;
    --f: .5; /* fraction of line the hole occupies */
	--b: 1.5lh; /* at least 1lh to fit */
	--l: 1px; /* dashed line thickness */
    --r: random(1,45); /* random rotation */
	display: block;
    overflow: hidden;
	margin: -1em auto;
	border: solid 0 #0000;
	border-width: 0 var(--b);
	padding:  1ch;
	max-width: 43em;
	border-radius: 3px;
	background: 
		conic-gradient(at var(--l), #0000 75%, silver 25%) 
			0 -.125lh/ calc(100% - var(--l)) .5lh padding-box,
		linear-gradient(rgb(209, 240, 232) 50%, whitesmoke 0) 0 0/ 1% 2lh;
	font: 1.25em/ 1.5 dot_digital-7regular;
    color: rgba(0,0,0,0.55);
    tab-size: 2;
	white-space: pre-wrap;
    mask: 
		radial-gradient(calc(.5*var(--f)*1lh) at calc(.5*var(--b)), 
				#0000 calc(100% - 1px), red) 
			0 0/ calc(100% - var(--b)) 1lh no-clip;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1.1);
    z-index: 0;
    transition: all var(--speed, 800ms) var(--ease, ease);
    filter: brightness(0.75);
}
 
.printer-paper:hover {
    z-index: 100 !important;
    transition: all var(--speed, 800ms) var(--ease, ease);
    filter: brightness(1.0);
}

.printer-paper IMG { 
    float: right; 
    opacity:0.50;
    width: 300px;
}

.printer-paper h1 {
    font-family: high_speedregular;
    font-size: 2em;
    padding: 8px;
}

footer p a {
    color: #fff;
}